*.iml
.gradle
.idea
.kotlin
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
*.jks
*yarn.lock

/local.properties

/build-logic/convention/bin/
/composeApp/release/

# Xcode
**/xcuserdata/*
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

iosApp/.bundle/
iosApp/vendor/

## CocoaPods
iosApp/Pods/

## fastlane
iosApp/fastlane/test_output/
iosApp/fastlane/report.xml
composeApp/fastlane/test_output/
composeApp/fastlane/report.xml
## Google Cloud Storage code signing certificates
iosApp/gc_keys.json